.list {
    width: 20vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    color: black;
    list-style: none;
    margin-right: 30px;
    margin-top: 10px;
    cursor:pointer;
}

.menu {
    display: none !important;
}

@media only screen and (max-width: 767px) {
    .menu {
        justify-self: flex-start;
        display: inline-block !important;
    }

    .menu-close{
        /* display: none !important; */
        /* position: relative !important; */
        width: 0;
        height: 0;
        background-color: transparent;
        transform: translate(-200px, 0) !important;
        overflow: hidden !important;
    }

    .menu-open {
        width: 100px !important;
    }

    .moves {
        transition: 0.5s !important;
        z-index: 50 !important;
        font-size: 1rem !important;
    }

    .closed-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        top: 8vh;
        left: 1vw;
    }

    .list {
        position: absolute;
        top: 8vh;
        left: 1vw;
        justify-content: flex-start;
        /* background-color: #52ce69; */
        opacity: 1;
    }

    .MuiTreeView-root {
        margin-left: -50% !important;
    }

}
@media only screen and (max-width: 459px) {
    .MuiTreeItem-label {
        font-size: 0.6rem !important;
    }
}
