.desc {
    width: 20%;
    height: 60vh;
    text-align: center;
    color: black;
    font-size: 1.2rem;
}

@media only screen and (max-width: 767px) {
    .desc {
        width: 80%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}