/*
  #009c3c  -green
  #52ce69  -light
  #006c0c  -dark
  #002776  -blue
  #454fa6  -light
  #000049  -dark
  #ffdf00  -yellow
  #ffff54  -light
  #c7ae00  -dark
*/


.App {
  text-align: center;
  color: #BA181B;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* overflow: hidden; */
  background: #009c3c;
}

header {
  width: 100vw;
  background: #006c0c;
  height: 12vh;
  display: flex;
  justify-content: center;
}

header h1 {
  margin: 0 auto;
  color: black;
}

.content {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: space-around;
}

.collapse {
  display: none !important;
}
