/*
  #009c3c  -green
  #52ce69  -light
  #006c0c  -dark
  #002776  -blue
  #454fa6  -light
  #000049  -dark
  #ffdf00  -yellow
  #ffff54  -light
  #c7ae00  -dark
*/


.App {
  text-align: center;
  color: black;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background: rgb(233, 227, 227);
}

header {
  width: 100vw;
  background: #000049;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  margin: 0 auto;
  color: white;
}

header a {
  width: 10vw;
  text-decoration: none;
}

.content {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: space-around;
}

.collapse {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .main {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}